@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

@font-face {
    font-family: 'Florabetic';
    src: url(./fonts/Florabetic.ttf)
}

/* LARGE DEVICES  */

body {
    margin: 0;
    background-image: url('/images/Wallcoverings\ -\ Lincrusta.jpg');
    background-size: cover;
}

/* NAVBAR START */

.nav-bar {
    width: 100%;
    height: 12%;
    background-color: #BC9693;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    padding-left: 15px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-bar ul {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-bar ul li {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0 20px;
    transition: all ease 0.3s;
}

.nav-bar ul li:hover {
    color: white;
    cursor: pointer;
}

.logo {
    /* font-family: "Florabetic", sans-serif; */
    color: #252225;
    /* margin: 0; */
    /* height: 50%; */
    user-select: none;
}

.linkedin-logo {
    width: 37px;
    margin-left: 50px;
}

.hamburger-icon {
    display: none;
}

/* NAVBAR END */

/* HOMEPAGE TOP SECTION START*/

.heroimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 50px 0;
    gap: 50px;
    border-radius: 25px;
}

.himynameis {
    border: 2px solid var(--Darkest, rgb(37, 34, 37));
    border-radius: 25px;
    background-color: #BC9693;
    /* margin-right: 50px; */
    width: 50%;
}

.himynameis p {
    font-weight: 300;
}

.name-title {
    text-align: right;
}

.name-title, .welcome {
    font-weight: 500;
}

.himynameis-text {
    font-family: "Laila", serif;
    padding: 0 25px;
}

.introflower {
    width: 100%;
    height: 90px;
    position: relative;
}

.introflower img {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 23px 23px;
}

.me-photo {
    width: 35%;
    border: 2px solid var(--Darkest, #252225);
    border-radius: 25px;
}

/* HOMEPAGE TOP SECTION END*/

/* PROJECTS SECTION START */

.Orchid {
    width: 50px;
    padding: 0px
}

.Flower-Child-Area {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

h1{
    
}

.Projects{ 
    padding:0 10px;
}

.designprojects {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    gap: 20px;
    width: 100%;
}

.designprojects img {
    height: 400px;
    width: 400px;
    border-radius: 25px;
}

.project-card {
    padding: 10px;
    border-radius: 25px;
    background-color: #BC9693;
    transition: all 2s ease;
}
.project-card:hover{
    transform: scale(1.1);
}

/* PROJECTS SECTION END */

footer{
    display: inline-block;
    background: url(<path-to-image>) #BC9693 50% / contain no-repeat;
    text-align: center;
    width: 100%;
    align-items: center;
    color: white
}

/* LARGE DEVICES */

@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .designprojects {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-right: 10px;
        margin-left: 10px;
        gap: 20px;
        width: 100%;
    }

    .designprojects img {
        height: 300px;
        width: 300px;
        border-radius: 25px;
    }
}

/* MEDIUM DEVICES */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .me-photo {
        width: 45%;
        border: 2px solid var(--Darkest, #252225);
        border-radius: 25px;
    }

    .himynameis {
        align-self: center;
        height: 400px;
    }

    .designprojects img {
        height: 240px;
        width: 240px;
        border-radius: 25px;
    }

    .himynameis-text, h2 {
        /* font-weight: 0; */
        font-size: 1.1rem;
    }

    .himynameis-text, p {
        font-size: 14px;
    }

    .nav-bar {
        gap: 10px;
    }

    .linkedin-logo {
        margin-left: 10px;
    }
    
}

/* SMALL DEVICES */

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .heroimg {
        flex-direction: column-reverse;
    }

    .himynameis {
        width: 100%;
    }

    .me-photo {
        width: 60%;
    }

    .introflower {
        width: 100%;
        height: 55px;
        position: relative;
    }

    .nav-bar ul {
        display: none;
    }

    #nav-links {
        position: absolute;
        top: 90%;
        left: 80%;
        background-color: #BC9693;
    }

    .linkedin-logo {
        margin-left: 0;
    }

    .hamburger-icon {
        display: block;
    }

    .designprojects {
        flex-direction: column;
    }

    .designprojects img {
        height: 400px;
        width: 400px;
        border-radius: 25px;
    }

}

/* EXTRA SMALL DEVICES */
@media only screen and (max-width: 600px) {
    .nav-bar ul {
        display: none;
    }

    #nav-links {
        position: absolute;
        top: 90%;
        left: 80%;
        background-color: #BC9693;
    }

    .hamburger-icon {
        display: block;
    }

    .linkedin-logo {
        margin-left: 0;
    }

    .nav-bar {
        gap: 70px;
    }

    .heroimg {
        flex-direction: column-reverse;
    }

    .himynameis {
        width: 100%;
    }

    .me-photo {
        width: 60%;
    }

    .designprojects {
        flex-direction: column;
    }

    .designprojects img {
        height: 400px;
        width: 400px;
        border-radius: 25px;
    }
}
