header {
    display: flex;
background-color: #BC9693;
}

.fa-solid {
    color: #252225;
}
.inline-block ul {
    display: flex;
    list-style: none;
    align-content: flex-start;
    margin: 0;
}
.logo {
    width: 23%;
    padding: 1%;

}
.heroimg{
    display:inline-flexbox;
    height: 600px;
    padding: 25px;
    background-image: url("/images/Mother\ Of\ Pearl\ 5.jpg");
    }
.content{
    display: flex;
    width: 100%;
    margin-left: 0 auto;
}
img{
    height: 50%;
    width: 50%;
}
footer{
    background-color: #BC9693;
    text-align: center;
    display: flex;

}